@font-face {
    font-family: 'JuliusSansOne-Regular';
    src: url('../font/JuliusSansOne-Regular.eot');
    src: url('../font/JuliusSansOne-Regular.eot?#iefix') format('embedded-opentype'), url('../font/JuliusSansOne-Regular.woff') format('woff'), url('../font/JuliusSansOne-Regular.ttf') format('truetype'), url('JuliusSansOne-Regular.svg#JuliusSansOne-Regular') format('svg');
}

.container-fluid {
    overflow-x: hidden;
}

body {
    font-family: 'JuliusSansOne-Regular';
    background-color: #dadad2;
}

h1{
    font-size: 2.0em;
}

.header {
    background-color: #383838;
}

#accordionProjetos {
    width: 100%;
}

.card {
    background-color: #dadad2;
}

.btn {
    background-color: #dadad2;
}

span {
    font-size: 2em;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #383838;
}

a:hover {
    color: #7d887a;
}

.title-project {
    color: #7d887a;
}

.text-project {
    color: #252525;
    font-size: 1em;
}

.title-resumo{
    color: #383838;
    font-size: 1.3em;
    font-weight: bolder;
}

.text-resumo{
    color: #383838;
    font-size: 1.2em;
}

.text-contact{
    color: #383838;
    font-size: 1.2em;
}

.link-project {
    color: #383838;
    font-weight: bold;
}

.list-project {
    background-color: #f7f0f0;
    color: #383838;
    font-weight: bold;
}

.list-project:hover {
    background-color: #383838;
}